@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    ViewBag.h1 = "Welcome to Joel Hilton's Film Collection";
}

@*the index page only needs the title, h1, and a nice image of Dr. Hilton's brother*@

<br />
<div class="container">
   <h2>Meet The Man Behind It All</h2>
</div>
    <br />
<div class="container">
    <img class="center" src="~/img/JoelHilton.jpg" />
</div>