@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    ViewBag.h1 = "My Podcasts";
}

<br />
<div class="container">
    <h2>Listen To My Podcast Baconsale!</h2>
</div>
<br />

@*add a link to backonsale*@
<div class="container">
    <a href="https://baconsale.com/">Click Here to Listen!</a>
</div>
<br />

@*add an image of baconsale*@
<div class="container">
    <img class="center" src="~/img/baconsale.png" />
</div>
<br />

<div class="container">
    <h2>About</h2>
</div>
<br />

@*add information about Baconsale*@
<div class="center">
    <p>
        Baconsale is a podcast where "a comedian who likes movies and a movie critic who is sometimes funny discuss movies, music, television shows, video games and other pop culture topics." (Word for Word from Baconsale's site)
    </p>
</div>